* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #c0268f, #2b2d83);
    padding: 20px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left: 18px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.navbar ul li .btn {
    background: #f9c74f;
    padding: 6px 14px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    border-radius: 0 0 100px 100px;
}

.content {
    max-width: 50%;
}

.content h4 {
    color: #f9c74f;
    font-size: 20px;
}

.content h1 {
    font-size: 60px;
    color: #0a2540;
    margin: 10px 0;
}

.content p {
    color: #777;
    margin: 20px 0;
    line-height: 1.6;
}

.content button {
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #c0268f, #2b2d83);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* IMAGE */
.image img {
    width: 350px;
}
